<template>
  
</template>

<script>
export default {
/*
    1.  To add the header and current month component, add a div above the day bar and give it an id of
        header

        <div id="header">
            <div>
                <h1>Vue.JS Calendar</h1>
            </div>
            <div>
                <current-month></current-month>
            </div>
        </div>

        create the CurrentMonth.vue component and register it in App.vue

    2.  To display the month in the current month in the CurrentMonth.vue component, create a computed propery
        called formatted date which uses the month and year that are stored in the store

        computed: {
            month() {
                return this.$store.state.currentMonth;
            },
            year() {
                return this.$store.state.currentYear;
            }
            formattedDate() {
                return this.$moment(`${this.year}-${this.month}-1`, 'YYYY-M-D').format('MMMM YYYY');
            }
        }

        <div>
            {{ formattedDate }}
        </div>
       
    3.  To add the increment and decrement buttons to the month

        <div>
            <div>
                {{ formattedDate }}
            </div>
            <button @click="dec">-</button>
            <button @click="inc">+</button>
        </div>

        and add the methods

        methods: {
            dec() {
                console.log('Dec button clicked');
            },
            inc() {
                console.log('Inc button clicked');
            }
        }

    4.  To move the Vuex configuration into its own file, create a folder in src called src and create a file called
        index.js in it. Cut out the following from web.entry.js into the index.js file

        import Vuex from 'Vuex';
        Vue.use(Vuex);

        create an export default for an object in the Vuex file

        export default new Vuex({

        });

        and cut the store config from web.entry.js into Vuex config file

        export default new Vuex.Store({
            state: {
                currentMonth: 7,
                currentYear: 2017
            }
        });

        and import Vue in the file

    5.  Import the Vuex config in web.entry.js as

        import store from './store';

        and them make sure that store is initiated in the Vue constructor

        store   //shorthand for store: store

    6.  To update the currentMonth in the state, create a mutation

        mutations: {
            setCurrentMonth(state, payload) {
                state.currentMonth = payload;
            }
        }

        to increase (move to the next) month, in the inc function do a commit on the store

        dec() {
            this.$store.commit('setCurrentMonth', this.month - 1);
        },
        inc() {
            this.$store.commit('setCurrentMonth', this.month + 1);
        }

    7.  To enhance the increment and decrement logic to take care of less than Jan and more than
        Dec, create a mutation to update the current year

        mutatiions: {
            setCurrentMonth(state, payload) {
                state.currentMonth = payload;
            },
            setCurrentYear(state, payload) {
                state.currentYear = payload;
            }
        }


        dec() {
            if(this.month < 1) {
                this.$store.commit('setCurrentYear', this.year -1);
                this.$store.commit('setCurrentMonth', 12);
            } else {
                this.$store.commit('setCurrentMonth', this.month - 1);
            }
        },
        inc() {
            if(this.month > 12) {
                this.$store.commit('setCurrentYear', this.year + 1);
                this.$store.commit('setCurrentMonth', 1);
            } else {
                this.$store.commit('setCurrentMonth', this.month + 1);
            }
        }

*/
}
</script>

