<template>

</template>

<script>
    export default {
        /*
        1.  Create a new component and call it event-form

        2.  Add it into the App.vue component underneath the calendar compoent - the position does not matter
            Register the component in App.vue

        3.  Add the following into the component, bind the active and class attributed

             <div id="event-form" :class="{ active: true }" :style="{ top: '500px', left: '500px' }"></div>

        4.  Capture the click event when one of the calender days is selected, go to the component and define
            a click event

             <div :class="classObject" @click="captureClick">
                {{ day.format('D') }}
             </div>

            and then create the captureClick method

            captureClick(event) {
                console.log(event);
            }

            the click event has clientX and clientY properties which capture the location of the click

        5.  Store the clientX and clientY into the store

             captureClick(event) {
                this.$store.commit('eventFormPos', { x: event.clientX, y: event.clientY });
             }

            create the state properties eventFormPosX: 0, and eventFormPosY: 0

            and then create the mutation eventFormPos

            eventFormPos(state, payload) {
                state.eventFormPosX = payload.x;
                state.eventFOrmPosY = payload.y;
            }

        6.  Create computed properties to dynamically locate the form

            computed: {
                top() {
                    return `${this.$store.state.eventFormPosY}px`;
                },
                left() {
                    return `${this.$store.state.eventFormPosX}px`;
                }
            }

        7.  To populate the event form

            <div id="event-form" :class="{ active: true }" :style="{ top: top, left: left }">
                <h4>Add an event</h4>
                <button id="close-button" @click="close">&#10005</button>

            </div>

            and add the method to close the form

            methods: {
                close () {
                    this.$store.commit('eventFormActive', false);
                }
            }

            create a store property called eventFormActive and initial state is false

        8.  Create a mutation called eventFormActive

            eventFormActive(state, payload) {
                state.eventFormActive = payload;
            }

            create a computed property called active

            active() {
                return this.$store.state.eventStoreActive;
            }

            and change the bound class of the div to active as follows

            <div id="event-form" :class="{ active: active }" :style="{ top: '500px', left: '500px' }"></div>

            add a commit to the captureClick method to change the active state to true

            captureClick(event) {
                this.$store.commit('eventFormPos', { x: event.clientX, y: event.clientY });
                this.$store.commit('eventFormActive', true);
            }

        9.  To display the events in the calender, create an unordered list in the CalendarDay component as follows

            <ul class="event-list">
                <li>Random event</li>
            </ul>

            then create a computed property in the calendar events called events

            events(){
                return [
                    { description: 'First event' },
                    { description: 'Second event' },
                    { description: 'Third event' }
                ]
            }

            update the <li> to use a v-for

            <ul class="event-list">
                <li v-for="event in events">{{ event.description }}</li>
            </ul>

        10. Add a property called date to each of the event and change the events computed property as follows

             events(){
                 let mockData = [
                     { description: 'First event', date: this.$moment('2017-07-26', 'YYYY-MM-DD') },
                     { description: 'Second event', date: this.$moment()},
                     { description: 'Third event', date: this.$moment('2017-07-29', 'YYYY-MM-DD') }
                 ];
                 return mockData.filter(event => event.date.isSame(this.day, 'day'));
             }

        11. Move mockData into the store and change the return statement in events compputed property. The store
            property will be called events

            return this.$store.state.events.filter(event => event.date.isSame(this.day, 'day');

            import moment in the store and take the this.$moment(...) to moment(...)

        12. Create a textbox in event form

            <div class="text">
                <input type="text" v-model="description">
            </div>

            and create a data function in the the component

            data() {
                return {
                    description: '',
                }
            }

        13. Create a submit button in the form to submit the event called create

             <div class="text">
                 <input type="text" v-model="description">
             </div>
             <div class="buttons">
                <button @click="create">Create</button>
             </div>

             Create the method

             create() {
                this.$store.commit('addEvent', this.description);
             }

        14. Create a mutation called addEvent

            addEvent(state, payload) {
                state.events.push({
                    description: payload,
                    date: moment()     // the logic for the date has to be updated to assign a correct date
                });
            }

        15. Create a mutation called eventFormDate and capture the date that was clicked

             captureClick(event) {
                this.$store.commit('eventFormPos', { x: event.clientX, y: event.clientY });
                this.$store.commit('eventFormActive', true);
                this.$store.commit('eventFormDate', this.day);
             }

            and create the mutation

            eventFormDate(state, payload) {
                state.eventFormDate = payload;
            }

            and create a state property called eventFormDate and assign it null

            eventFormDate: null

            and change the date in addEvent to

            date: state.eventFormDate

        17. To improve the form, the form should clear when the event is created and the description should
            be cleared and add  placeholder to the input box. In create  method, modify as follows

             create() {
                this.$store.commit('addEvent', this.description);
                this.description = '';
                this.$store.commit('eventFormActive', false);
             }

            and only allow creation of an event if the event description is not empty

            if (this.description.length > 0) {
                 create() {
                     this.$store.commit('addEvent', this.description);
                     this.description = '';
                     this.$store.commit('eventFormActive', false);
                 }
            }

            Also make the input focused when the form is opened by using a custom directive called focus

            directives: {
                focus: {
                    update(el) {
                        el.focus();
                    }
                }
            }

            then modify the input as below

            <input v-focus type="text" v-model="description" placeholder="Enter event">

            Use the enter to commit the event in addition to clicking

            use the keyup event on the text box

            <input v-focus type="text" v-model="description" @keyup.enter="create" placeholder="Enter event">

        18. To add a date to display in the event form below the header

            <div id="event-form" :class="{ active: true }" :style="{ top: top, left: left }">
                <h4>Add an event</h4>
                <p>{{ date.format('dddd, MMM Do') }}</p>       //This will dispay the date based on a computed property
                <button id="close-button" @click="close">&#10005</button>
                <div class="text">
                    <input v-focus type="text" v-model="description" @keyup.enter="create" placeholder="Enter event">
                </div>
                <div class="buttons">
                    <button @click="create">Create</button>
                </div>
            </div>

            and the computed property is as below

            date() {
                return this.$store.state.eventFormDate;
            }

        19. To have the event form closed when month selected is clicked, go to current month component
            and update the inc and dec methods

            inc(){
                if(this.$store.state.currentMonth === 12) {
                    this.$store.commit('setCurrentMonth', 1);
                    this.$store.commit('setCurrentYear', this.year + 1);
                } else {
                    this.$store.commit('setCurrentMonth', this.month + 1);
                }
                this.$store.commit('eventFormActive', false);
            },
            dec(){
                if(this.$store.state.currentMonth === 1) {
                    this.$store.commit('setCurrentMonth', 12);
                    this.$store.commit('setCurrentYear', this.year - 1);
                } else {
                    this.$store.commit('setCurrentMonth', this.month - 1);
                }
                this.$store.commit('eventFormActive', false);
            }

            and udpate the eventFormDate property to today

            eventFormDate: moment();

        20. To highligh the date that has been clicked on to have a pink background, go to CalendarDay
            component and bind the active class to the component in the classObject computed property

            classObject() {
                let eventFormDate = this.$store.state.eventFormDate;
                let eventFormActive = this.$store.state.eventFormActive;
                let today = this.day.isSame(this.$moment(), 'day');
                return {
                    day: true,
                    today,
                    past: this.day.isSameOrBefore(this.$moment(), 'day') && !today,
                    active: eventformDate.isSame(this.day, 'day') && eventFormActive;
                }
            }

        */
    }
</script>