<template>

</template>

<script>


export default {
/*
    1.  Create a directory for components in the src folder and create a SPC called App.vue

    2.  Register the compnent in the web.entry.js file and import it the App.vue compnent

    3.  Create the scaffold in the App.vue component and render the app component in index.html in the app div

    4.  Import the style.scss file in web.entry.js file

        import './style.scss';
    
    5.  Add the moment.js library to web.entry.js root component and setup the default timezone
        
        import moment from 'moment-timezone';
        moment.tz.setDefault('UTC');

        add moment as the instance object

        Object.defineProperty(Vue.prototype, '$moment', { get() { return this.$root.moment } });

        and define moment as a property in the root compoment web.entry.js

        data: {
            moment   //destructured for moment: moment
        }
    
    6.  To generate a list of calendar days for the current month, define properties for month and year 
        in the App.vue compoment

        data() {
            return {
                month: 2,
                year: 2017
            }
        }

        create a computed propery callled days in App.vue component and use display the days in a for loop 
        div in the template

        computed: {
            days() {
                let days = [];
                let currentDay = this.$moment(`${this.year}-${this.month}-1`, 'YYYY-M-D'); //this will create the current day
                do {
                    days.push(currentDay);
                    currentDay = this.$moment(currentDay).add(1, 'days');
                } while((currentDay.month() + 1) === this.month) //loop while we are no longer in the current month
                return days;
            }
        }

        to print the days in the template 

        <div v-for="day in days">{{ day }}</div>
    
    7.  To pad days both at the begining and end of the month, starting with begining of the month

        const SUNDAY = 0;
        const MONDAY = 1;

        let currentDay = this.$moment(days[0]);

        do {
            currentDay = this.$moment(currentDay).subtract(1, 'days');
            days.unshift(currentDay);
        } while (currentDay.day() !== MONDAY);

        to add days to the end of the of the month

        let currentDay = this.$moment(days[days.length -1]);

        do {
            currentDay = this.$moment(currentDay).add(1, 'days');
            days.push(currentDay);
        } while (currentDay.day() !== SUNDAY);

        to fix scenario where the first day of the month is a monday

        if(currentDay.day() !== MONDAY) {
            do {
                currentDay = this.$moment(currentDay).subtract(1, 'days');
                days.unshift(currentDay);
            } while (currentDay.day() !== MONDAY);
        }

        to fix scenario where last day of the month is sunday

        if(currentDay !== SUNDAY) {
             do {
                currentDay = this.$moment(currentDay).add(1, 'days');
                days.push(currentDay);
            } while (currentDay.day() !== SUNDAY);
        }

    8.  The calender is a grid of 5 weeks of 7 days in each week. Create a loop that will 
        display days in each week. start by creating a computed propery called weeks.


        weeks( {
            let weeks = [];
            let week = [];

            for(let day of this.days) {
                week.push(day);
                if (week.length === 7) {
                    weeks.push(week);
                    week = [];
                }
            }
            return weeks;
        })

        then display the says in the App.vue template as

        <div v-for="week in weeks">
            Week
            <div v-for="day in week">{{ day }}</div>
        </div>

*/
    
}
</script>

