<template>

</template>

<script>
export default {
/*
    1.  Create a component called CalendarDay and register it in App.vue
    2.  Render it in the place of the div rendering the days
        
        <calendar-day v-for="day in week" :day="day"></calendar-day>

        and declare the prop in CalendarDay called day and then render it in the template inside a div

        <div>{{ day }}</div>

    3.  Add a class to the div and format the days

        <div class="day">{{ day.format('D') }}</div>

    4. To display the calender grid, add a class calendar-week to div for the weeks and give the outer
        div an id of calendar

        <div id="calendar">
            <div v-for="week in weeks" class="calendar-week">
                <calendar-day v-for="day in week" :day="day"></calendar-day>
            </div>
        </div>

    5.  Add the name for each day of the week on top each column by addign a div in App.vue as follows

        <div>
            <div id="day-bar">
                <div>Mon</div>
                    :
                    :
                <div>Sun</div>
            </div>
            <div id="calendar">
                <div v-for="week in weeks" class="calendar-week">
                    <calendar-day v-for="day in week" :day="day"></calendar-day>
                </div>
            </div>
        </div>
    
    6.  To highlight the current day of the calender add a class of today depending on the day.
        Use a computed property to assign the class
        
        classObject() {
            return {
                day: true,
                today: this.day.isSame(this.$moment(), 'day')
            }
        }

        and update the div to 

        <div :class="classObject">{{ day.format('D') }}</div>

    7.  To make the days in the past to be transparent to indicate that they are past, update the objectClass
        as follows

        classObject() {
            return {
                day: true,
                today: this.day.isSame(this.$moment(), 'day'),
                past: this.day.isSameOrBefore(this.$moment, 'day')
            }
        }

        to correct the setting of transparency for the current date

        classObject() {
            let today = this.day.isSame(this.$moment(), 'day');
            return {
                day: true,
                today,
                past: this.day.isSameOrBefore(this.$moment, 'day') && !today
            }
        }

    8.  Introduction to Vuex, its similar to event bus and is used to share data between components and
        the information is hosted in a central location called a store, any component can access the values
        in the store. The store is defined as follows:

        const store = Vuex.Store({
            state: {
                myVal: 'Hello World'
            }
        });

        new Vue({
            store
        });

        the state in Vuex is read-only just like props

        a computed propery would consume the myValue variable in the state as follows

        Vue.compoment({
            computed: {
                myVal() {
                    return this.$store.state.myVal;
                }
            },
            template: '<div> {{ myVal }}</div>'
        });

        Use to change the values in the state use mutation, and functions which change the state are
        called mutations

        const store = Vuex.Store({
            state: {
                myVal: 'Hello World'
            },
            mutations: {
                modifyMyVal(state, newVal) {
                    state.myVal = newVal;
                }
            }
        });

        Mutations are called from any function by calling the commmit method on the store for example

        Vue.compoment({
            computed: {
                myVal() { return this.$store.state.myVal; }
            },
            methods: {
                updateVal() { this.$store.commit('modifyMyVal', 'Goodbye World'); } //the second argument is the payload
            },
            template: '<div @click="updateVal"> {{ myVal }}</div>'
        });

    9.  To add Vuex in our project to be used to share data between components, import Vuex in the web.entry.js
        root component. The import it into Vue instance

        import Vuex from 'vuex';
        Vue.use(vuex);

        and add a store property to the Vue instance

        new Vue({
            el: '#app',
            data: {
                moment
            },
            components: {
                App
            },
            store: {
                state: {
                    currentYear: 2017,
                    currentMonth: 7
                }
            }
        });

    10. Replace the month and year properties in App.vue with computed properties which will reference
        the state

        computed: {
            month() {
                return this.$store.state.currentMonth;
            },
            year() {
                return this.$store.state.currentYear;
            }
        }

        and delete the data section in the component

        NOTE: Hot module reloading does not work with Vuex store without an elaborate setup








*/
}
</script>

