<template>


</template>

<script>
export default {
/*
1.  In server.js create a route for '/add_event' to handle posts to the route

    app.route('/add_event', (req, res) => {})

2.  Add an http request in the addEvent mutation to send the request to the '/add_event' route
    using Axios, import Axios first in the Vuex store file - index.js

    import Axios from 'axios';

    then add the following in the addEvent mutation
    
    let obj = {
        description: payload,
        date: state.eventFormDate
    };

    state.events.push(obj);
    Axios.post('/add_event', obj);

3.  Modify the add_event route in server.js as follows to determine whether the route and its callback are
    being called

    app.route('add_event', (req, res) => {
        console.log('Received')
    })

4.  In the server.js import body-parser to assisst with the processing of the request to the add_event
    route.

    app.use(require('body-parser').json());

    and change the console.log in the add_event call back to console req.body

    console.log(req.body);
    req.sendStatus(200);   //tells the browser the message status of the event

5.  To store the events that are sent from the browser, create an array called events in serve.js and 
    initalise it as an empty array. The add the newly added events into the events array

    set events = []

    in the add_event callback

    events.push(req.body);
    res.sendStatus(200);

6.  Actions are like mutations and are defined in store configuration, they are designed to commit mutatations
    and they are asynchronous while mutations are syncronous. The can return a promise in their 
    asynchronous mode. An action is called using the dispatch method instead of commit for mutations

    Move some of the functionlity in the addEvent mutation a function called addEvent

    actions: {
        addEvent(context, payload) {  //context is the whole store, to verify console.log(context)
            let obj = {
                description: payload,
                date: context.state.eventFormDate
            };
            context.commit('addEvent', obj);
            Axios.post('add_event', obj);
        }
    }

    change the created method to dispatch the addEvent action instead of the mutation

    Modify the addEvent mutation to be

    addEvent(state, payload) {
        state.events.push(payload)
    };

7.  To commit the state only after getting a success from the server, change the addEvent action as 
    follows:

    actions: {
        addEvent(context, payload) {  //context is the whole store, to verify console.log(context)
            let obj = {
                description: payload,
                date: context.state.eventFormDate
            };
            
            Axios.post('add_event', obj).then(response => {
                if (response.status === 200) {          //do the mutation only when we have 200 from server
                    context.commit('addEvent', obj);
                }
            })
        }
    }

8.  To clear the description and close the event form only when the event is added successfully, modify
    the addEvent action as

    actions: {
        addEvent(context, payload) {  //context is the whole store, to verify console.log(context)
            return new Promise((resolve, reject) => {
                let obj = {
                    description: payload,
                    date: context.state.eventFormDate
                };
                
                Axios.post('add_event', obj).then(response => {
                    if (response.status === 200) {          //do the mutation only when we have 200 from server
                        context.commit('addEvent', obj);
                        resolve();
                    } else {
                        reject();
                    }
                });
            });
            
            
        }
    }

    and then change the create method as 

    create() {
        this.$store.dispatch('addEvent', this.description).then(_ => {
            //the actions only execute when the promise resolves
            this.description = '';
            this.$store.commit('eventFormActive', false);
        }) ;
    }









*/
}
</script>