<template>
    <div>
        <div id="header">
            <div>
                <h1>Vue.JS Calendar</h1>
            </div>
            <div>
                <current-month></current-month>
            </div>
        </div>
        <div id="day-bar">
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
            <div>Sun</div>
        </div>
        <div id="calendar">
            <div v-for="week in weeks" class="calendar-week" >
                <calendar-day v-for="day in week" :day="day"></calendar-day>
            </div>
        </div>
        <event-form></event-form>
    </div>
</template>

<script>
import CalendarDay from './CalendarDay.vue';
import CurrentMonth from './CurrentMonth.vue';
import EventForm from './EventForm.vue'

export default {
    computed: {
        days() {
            let days = [];
            
            //initalising the currentDay to the first day of the month
            let currentDay = this.$moment(`${this.year}-${this.month}-1`, 'YYYY-M-D');
            
            //populating the array with the number of days in the month 
            do {
                days.push(currentDay);
                currentDay = this.$moment(currentDay).add(1, 'days');
            } while((currentDay.month() + 1) === this.month);  //loop until the month is the same

            const SUNDAY = 0;
            const MONDAY = 1;

            //padding days at the begining of the month
            currentDay = days[0];
            //padding the days if the first day of the month is not a monday
            if(this.$moment(currentDay).day() !== MONDAY) {
                do {
                    currentDay = this.$moment(currentDay).subtract(1, 'days');
                    days.unshift(currentDay);
                } while(currentDay.day() !== MONDAY);
            }
            

            //padding days at the end of the month
            currentDay = days[days.length - 1];
            //padding the days at the end of the month if the last day is not a sunday
            if(this.$moment(currentDay).day() !== SUNDAY){
                do {
                    currentDay = this.$moment(currentDay).add(1, 'days');
                    days.push(currentDay);
                } while(currentDay.day() !== SUNDAY);
            }

            return days;
        },
        weeks() {
            let week = [];
            let weeks = [];

            for(let day of this.days) {
                week.push(day);
                if (week.length === 7) {
                    weeks.push(week);
                    week = [];
                }
            }
            return weeks;
        },
        month() {
            return this.$store.state.currentMonth;
        },
        year() {
            return this.$store.state.currentYear;
        }
    },
    components: {
        CalendarDay,
        CurrentMonth,
        EventForm
    }
}
</script>

