<template>
    <div id="event-form" :class="{ active: active }" :style="{ left: `${left}px`, top: `${top}px` }" >
        <h4>Add an event</h4>
        <p>{{ date.format('dddd MMM, Do') }}</p>
        <button id="close-button" @click="close">&#10005</button>
        <div class="text">
            <input type="text" v-model="description" v-focus @keyup.enter="create" placeholder="Enter event...">
        </div>
        <div class="buttons">
            <button @click="create">Submit</button>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        top() {
            return this.$store.state.eventFormPosY;
        },
        left() {
            return this.$store.state.eventFormPosX;
        },
        active() {
            return this.$store.state.eventFormActive;
        },
        date() {
            return this.$store.state.eventFormDate;
        }
    },
    methods: {
        close() {
            this.$store.commit('eventFormActive', false);
        },
        create() {
            if (this.description.length > 0 ) {
                this.$store.commit('addEvent', this.description);
                this.description = '';
                this.$store.commit('eventFormActive', false);
            }
        }
    },
    data() {
        return {
            description: ''
        }
    },
    directives: {
        focus: {
            update(el) {
                el.focus();
            }
        }
    }

}
</script>

